<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>{{capitalize repositoriesOwner}} | Dependency List</title>
    <link rel='stylesheet' href='../public/style/index.css' />
    <link rel='preconnect' href='https://fonts.gstatic.com' />
    <link
      href='https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap'
      rel='stylesheet'
    />
  </head>
  <body>
    <div class='container-wrapper'>

      <div class='app-container'>

        <div class='app-container__title'>
          <header class='banner'>
            <h1 class=''>{{capitalize repositoriesOwner}} Projects</h1>
            <img
              class='logo'
              src='../public/images/{{repositoriesOwner}}-dl.png'
              alt='Team Logo'
              width='50'
              height='50'
            />
          </header>
        </div>

        <div class='card'>
          <div class='card-containers'>
            <div class='card-header'>
              <h3>Stable Versions</h3>
            </div>
            <div class='card-body'>
              <table>
                <tbody>
                  {{#each officialVersions}}
                    <tr>
                      <td class='pr-2 py'>
                        <span class='fc-secondary'>{{@key}}: </span>
                      </td>
                      <td>
                        <span class='fc-primary'>{{this.latest}}</span>
                        {{#each this.stables}}
                          ,
                          <span class='fc-medium'>{{this}}</span>
                        {{/each}}
                      </td>
                    </tr>
                  {{/each}}
                </tbody>
              </table>
            </div>
          </div>
        </div>

        <div class='card'>
          <div class='card-containers'>
            <div class='card-header'>
              <h3>Conventions</h3>
            </div>
            <div class='card-body'>
              <div class='conventions'>
                <div class='convention-row'>
                  <span class='dot dot-primary'></span>
                  <span class='fc-secondary'>Latest</span>
                </div>

                <div class='convention-row'>
                  <span class='dot dot-stable'></span>
                  <span class='fc-secondary'>Older Stable</span>
                </div>

                <div class='convention-row'>
                  <span class='dot dot-outdated'></span>
                  <span class='fc-secondary'>Outdated</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Projects with Framework -->
      {{#each projectsGroupedByFramework as |records framework|}}
        {{> projects projects=records framework=framework platform=records.0.platform.name}}
      {{/each}}

     <!-- Projects without Framework -->
      {{#each projectsGroupedByPlatform as |records platform|}}
        {{> projects projects=records framework='' platform=platform}}
      {{/each}}

      <!-- Other Projects-->
      <div class='card'>
        <div class='card-containers'>
          <div class='card-header'>
            <h3>Other Projects</h3>
          </div>
          <div class='card-body'>
            <div class='projects__titles other-projects'>
              <span class='fw-bold'>Project</span>
              <span class='fw-bold'>Description</span>
            </div>
            <div class='projects'>
              {{#each projectsWithoutMeta as |project|}}
                <div class='projects__row other-projects'>
                  <div>
                    <a href='{{project.url}}' target='_blank'><span
                      class='fc-primary fw-bold'>{{project.name}}</span></a>

                    {{#if project.language}}
                      <span class='fs-xs fc-third'> &lsaquo; {{project.language}} &rsaquo;</span>
                    {{/if}}
                  </div>

                  <div>
                    {{#ifNotEquals project.url 'error'}}
                      <span class="fs-md">{{project.description}}</span>
                    {{else}}
                      <span class="fs-md fc-danger">{{project.description}}</span>
                    {{/ifNotEquals}}
                  </div>
                </div>
              {{/each}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
